.nav li{
 display : inline-block;
 background-color : inherit;
 font : bold;
 width: auto;
 float: left;

}

.nav ul{
  list-style-type: none;
  overflow: hidden;
}

a:link , a:visited{
  display: block;
  front-weight:bold;
  color:#FFFFFF;
  background-color:#98bf21;
  width:240px;
  text-align:center;
  padding: 24px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover,a:active
{
background-color:#7a991a;
}




body{
  margin-top:40px;
  text-align: center;

  color:#000;
  font-family: sans-serif;


  background-repeat: no-repeat;
  background-image: url(pondy.jpg) ;
    background-size: cover;





}
